/* Image Section Starts */
.hero {
    display: flex;
    margin: 12px;
  }
  
  .hero .little {
    margin: 16% 5% 0 15%;
    text-align: center;
  }
  
  .hero .little h1 {
    font-size: 40px;
    font-family: Georgia, Times, serif;
    margin: 15px;
  }
  
  .hero .little span {
    color: rgb(250, 185, 5);
  }
  
  .hero .little p {
    align-items: center;
    text-align: center;
    font-family: serif;
    padding: 5px;
    line-height: 25px;
    margin: 0 0 40px 0;
  }
  
  .hero .little button {
    border: none;
    background-color: rgb(255, 60, 0);
    padding: 10px 25px;
    border-radius: 7px;
  }
  
  .hero .little button a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: all 0.3s;
  }
  
  .hero .little button:hover a {
    color: #000;
  }
  
  .hero .picture {
    margin: 8% 0 7% 12%;
  }
  
  .hero .picture img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  
  #back {
    height: 480px;
    width: auto;
  }
  
  /* Image Section Ends */
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    /* Modify styles for screens up to 768px wide */
    .name-sect .about ul li {
      margin: 10px;
    }
  
    .hero {
      flex-direction: column;
    }
  
    .hero .little {
      margin: 10% 5%;
    }
  
    .hero .little h1 {
      font-size: 30px;
    }
  
    .hero .little button {
      padding: 8px 20px;
      font-size: 14px;
    }
  
    .hero .picture {
      margin-top: 40px;
    }
  
    .foot .contact {
      padding: 0;
      flex-direction: column;
    }
  
    .foot .contact ul li {
      margin: 15px 0;
    }
  }
  
  @media only screen and (max-width: 480px) {
    /* Modify styles for screens up to 480px wide */
    .name-sect {
      padding: 0 20px;
    }
  
    .name-sect .about ul li {
      margin: 5px;
    }
  
    .logo-name a img {
      height: 50px;
      width: 160px;
    }
  
    .hero .little h1 {
      font-size: 24px;
    }
  
    .hero .little button {
      padding: 8px 20px;
      font-size: 14px;
    }
  
    .hero .picture {
      margin: 0;
    }
  
    .hero .picture img {
      max-width: 100%;
      height: auto;
    }
  
    .foot {
      padding: 20px;
    }
  }
  